<template>
  <div id="back-btn">
    <button @click="goBack()">&#8249; return</button>
  </div>

  <div v-if="characterStore.character.image">
    <img :src="characterStore.character.image" :alt="`${characterStore.character.name}-photo`"/>
  </div>

  <h2>{{characterStore.character.name}}</h2>

  <div v-if="characterStore.character.status" class="item-info">
    <span class="info-title">Status: </span>
    <span>{{ characterStore.character.status }}</span>
    </div>

  <div v-if="characterStore.character.species" class="item-info">
    <span class="info-title">Species: </span>
    <span>{{ characterStore.character.species }}</span>
  </div>

  <div v-if="characterStore.character.type" class="item-info">
    <span class="info-title">Type: </span>
    <span>{{ characterStore.character.type }}</span>
  </div>

  <div v-if="characterStore.character.gender" class="item-info">
    <span class="info-title">Gender: </span>
    <span>{{ characterStore.character.gender }}</span>
  </div>

  <div v-if="characterStore.character.origin" class="item-info">
    <span class="info-title">Origin: </span>
    <span v-if="characterStore.character.origin.url">
    <router-link :to="{ name: 'location', params: { id: getId(characterStore.character.origin.url) }}">
      {{ characterStore.character.origin.name }}
    </router-link>
    </span>
    <span v-else>{{ characterStore.character.origin.name }}</span>
  </div>

  <div v-if="characterStore.character.location" class="item-info">
    <span class="info-title">Location: </span>
    <span v-if="characterStore.character.location.url">
      <router-link :to="{ name: 'location', params: { id: getId(characterStore.character.location.url) }}">
        {{ characterStore.character.location.name }}
      </router-link>
    </span>
    <span v-else>{{ characterStore.character.location.name }}</span>
  </div>

<!--  TODO get episode name -->
  <div v-if="characterStore.character.episode" class="item-info">
    <span class="info-title">Episodes: </span>
    <div v-for="episode in characterStore.character.episode">
      <router-link :to="{ name: 'episode', params: { id: getId(episode) }}">
        {{ episode }}
      </router-link>
    </div>
  </div>

</template>

<script lang="ts">
import router from "@/router";
import {useCharacterStore} from "@/stores/character";
import {defineComponent, onMounted} from "vue";
import {getIdFromUrl} from "@/helpers/string-helper";
import {useEpisodeStore} from "@/stores/episode";

export default defineComponent( {
  name: "CharacterView",

  props: {
    id: {type: Number, required: true}
  },

  setup(props) {
    const characterStore = useCharacterStore();
    const episodeStore = useEpisodeStore();

    function fetchData() {
      characterStore.getAndSetCharacterById(props.id);
    }

    function goBack() {
      return router.go(-1)
    }

    function getId(url: string) {
      return getIdFromUrl(url)
    }

    onMounted(() => {
      fetchData();
    });

    return {
      characterStore,
      episodeStore,
      getId,
      goBack
    };
  }
})
</script>

<style scoped>
</style>
