<template>
  <div id="back-btn">
    <button @click="goBack()">&#8249; return</button>
  </div>

  <h2>{{episodeStore.episode.name}}</h2>

  <div v-if="episodeStore.episode.air_date" class="item-info">
    <span class="info-title">Air date: </span>
    <span>{{ episodeStore.episode.air_date }}</span>
  </div>

  <div v-if="episodeStore.episode.episode" class="item-info">
    <span class="info-title">Episode: </span>
    <span>{{ episodeStore.episode.episode }}</span>
  </div>

<!--  TODO get characters name -->
  <div v-if="episodeStore.episode.characters" class="item-info">
    <span class="info-title">Characters: </span>
    <div v-for="character in episodeStore.episode.characters">
      <router-link :to="{ name: 'character', params: { id: getId(character) }}">
        {{ character }}
      </router-link>
    </div>
  </div>

</template>

<script lang="ts">
import router from "@/router";
import {useEpisodeStore} from "@/stores/episode";
import {defineComponent, onMounted} from "vue";
import {getIdFromUrl} from "@/helpers/string-helper";
import {useCharacterStore} from "@/stores/character";

export default defineComponent( {
  name: "EpisodeView",

  props: {
    id: {type: Number, required: true}
  },

  setup(props) {
    const episodeStore = useEpisodeStore();
    const characterStore = useCharacterStore();

    function fetchData() {
      episodeStore.getAndSetEpisodeById(props.id);
    }

    function goBack() {
      return router.go(-1)
    }

    function getId(url: string) {
      return getIdFromUrl(url)
    }

    onMounted(() => {
      fetchData();
    });

    return {
      episodeStore,
      getId,
      goBack
    };
  }
})
</script>

<style scoped>
</style>
