<template>
  <h2>Rick and Morty characters list</h2>

  <div id="character-list-container">
    <div v-for="character in characterStore.characters" :key="character.id">
      <div class="character-link">
        <HomeViewCharacterPreview :id="character.id"/>
      </div>
    </div>
  </div>
  
  <div id="nav-btn">
    <span v-if="characterStore.prev">
      <button @click="goToPrev">&#8249; Prev</button>
    </span>
    <span v-if="characterStore.next">
      <button @click="goToNext">Next &#8250;</button>
    </span>

  </div>
</template>

<script lang="ts">
import {defineComponent, onMounted} from "vue";
import {useCharacterStore} from "@/stores/character";
import HomeViewCharacterPreview from "@/components/HomeViewCharacterPreview.vue"

export default defineComponent({
  name: 'HomeView',

  components: {
    HomeViewCharacterPreview
  },

  props: {
    url: {
      type: String,
      required: true
    }
  },

  setup(props) {
    const characterStore = useCharacterStore();

    function fetchData(url: string) {
      characterStore.fetchCharacters(url);
    }

    onMounted(() => {
      fetchData(props.url);
    });

    function goToNext() {
      characterStore.fetchCharacters(characterStore.next!)
    }

    function goToPrev() {
      characterStore.fetchCharacters(characterStore.prev!)
    }

    return {
      characterStore,
      goToNext,
      goToPrev
    };
  }
})
</script>

<style scoped>
  #character-list-container {
    display: grid;
    grid-template-columns: 30vh 30vh 30vh 30vh 30vh;
    grid-template-rows: 30vh 30vh 30vh 30vh;
    justify-content: center;
    margin: 1em;
    justify-items: center;
    align-items: center;
  }

  #nav-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
</style>
