<template>
  <div id="back-btn">
    <button @click="goBack()">&#8249; return</button>
  </div>

  <h2>{{locationStore.location.name}}</h2>

  <div v-if="locationStore.location.type" class="item-info">
    <span class="info-title">Type: </span>
    <span>{{ locationStore.location.type }}</span>
  </div>

  <div v-if="locationStore.location.dimension" class="item-info">
    <span class="info-title">Dimension: </span>
    <span>{{ locationStore.location.dimension }}</span>
  </div>

  <!--  TODO get characters name -->
  <div v-if="locationStore.location.residents" class="item-info">
    <span class="info-title">Residents: </span>
    <div v-for="resident in locationStore.location.residents">
      <router-link :to="{ name: 'character', params: { id: getId(resident) }}">
        {{ resident }}
      </router-link>
    </div>
  </div>

</template>

<script lang="ts">
import router from "@/router";
import {useLocationStore} from "@/stores/location";
import {defineComponent, onMounted} from "vue";
import {getIdFromUrl} from "@/helpers/string-helper";

export default defineComponent( {
  name: "LocationView",

  props: {
    id: {type: Number, required: true}
  },

  setup(props) {
    const locationStore = useLocationStore();

    function fetchData() {
      locationStore.getAndSetLocationById(props.id);
    }

    function goBack() {
      return router.go(-1)
    }

    function getId(url: string) {
      return getIdFromUrl(url)
    }

    onMounted(() => {
      fetchData();
    });

    return {
      locationStore,
      getId,
      goBack
    };
  }
})
</script>

<style scoped>
</style>
