<template>
  <router-link :to="{ name: 'character', params: { id: id }}">
    <div v-if="character.image">
      <img class="img-preview" :src="character.image" :alt="`${character.name}-photo`"/>
    </div>

    <div>{{ character.name }}</div>
  </router-link>

</template>

<script lang="ts">
import {useCharacterStore} from "@/stores/character";
import {defineComponent, onMounted, ref} from "vue";

export default defineComponent( {
  name: "HomeViewCharacterPreview",

  props: {
    id: {type: Number, required: true}
  },

  setup(props) {
    const characterStore = useCharacterStore();
    const character = ref<Object>({});

    onMounted( async() => {
      character.value = await characterStore.getCharacterById(props.id);
    });

    return {
      character
    };
  }
})
</script>

<style scoped>
</style>
