<template>
  <router-link :to="{ name: 'home'}">
    <h1 id="title">Rick and Morty DB</h1>
  </router-link>

</template>

<script lang="ts">
import {defineComponent} from "vue";

export default defineComponent( {
  name: "NavBar",
})
</script>

<style scoped>
</style>
