<template>
  <div id="app-container">
    <NavBar/>
    <RouterView />
  </div>
</template>

<script setup lang="ts">
import { RouterView } from 'vue-router'
import NavBar from "@/components/NavBar.vue";
</script>

<style>
  html {
    background-color: #191A19;
  }

  @font-face {
    font-family: "Creepster";
    src: local("Creepster"),
    url(src/fonts/Creepster-Regular.ttf) format("truetype");
  }

  #app {
    display: flex;
    flex-direction: column;
    font-family: Creepster, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #97ce4c;
    margin-top: 60px;
  }

  #title {
    font-size: 4em;
    color: #53abee;
    border: #191A19;
    text-shadow: 0 0 2px #191A19, 0 0 5px #97ce4c
  }

  h2 {
    font-size: 2em;
    color: #53abee;
    border: #191A19;
    text-shadow: 0 0 2px #191A19, 0 0 5px #97ce4c
  }

  a:link, a:visited {
    text-decoration: none;
    color: #97ce4c;
  }

  a:hover {
    text-decoration: none;
    color: #e89ac7;
  }

  button {
    font-family: Creepster, serif;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #191A19;
    background-color: #97ce4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
  }

  button:hover {
    background-color: #97ce4c;
  }

  button:active {
    background-color: #e89ac7;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }

  #back-btn {
    display: flex;
    flex-direction: row;
  }

  #back-btn > button {
    margin-left: 15em;
  }

  .item-info {
    margin: 0.6em;
  }

  .info-title {
    font-size: 1.2em;
  }

  img {
    border-radius: 50%;
    width: 250px;
  }

  .img-preview {
    border-radius: 50%;
    width: 80px;
  }
</style>